.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 2rem;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 50px;
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto; 
  box-shadow: 0 8px 20px rgba(57, 213, 221, 0.25);
  background: linear-gradient(135deg, var(--secondary-color), #d2f0f8);
  transition: background-color 0.3s ease;
}

.about-text {
  flex: 1;
  margin-right: 2rem;
  padding: 10px;
  min-width: 350px;
  max-width: 500px;
}

.about-text h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Times New Roman', Times, serif;
  color: var(--terciary-color);
  text-shadow: 1px 3px 2px rgba(0,0,0,0.1);
  letter-spacing: 1px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
}

.about-image-container {
  margin-top: 80px;
  position: relative;
  flex: 1;
}

.about-image {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  height: 400px;
  min-width: 350px;

}

.tag {
  position: relative;
  background-color: var(--senary-color);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: bold;
}

.top-left {
  top: -370px;
  left: -20px;
}

.bottom-right {
  bottom: 100px;
  right: -180px;
}

.contact-box {
  background-color: var(--terciary-color);
  color: white;
  padding: 1rem;
  text-align: left;
  max-width: 400px;
  margin-top: -26px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease forwards;
}


.skills-section {
  width: 100%;
  margin-top: 25px;
  text-align: center;
  background-color: var(--terciary-color);
  padding: 2rem;
  border-radius: 10px;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.skills-section p {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 25px;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skills-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 6px #39d5dd;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skills-list li:hover {
  transform: scale(1.1);
  background-color: #39d5dd;
  color: white;
}

.about-header {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: auto;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--senary-color);

}

@media (max-width: 900px) {
  .about-header {
    flex-direction: column; 
    text-align: center;
    gap: 30px;
  }

  .about-text {
    margin: 0;
    text-align: center;
  }

    .bottom-right {
      right: -100px;
    }
  }










