.projects-container {
  padding: 2rem;
  text-align: center;
  margin-top: 30px;
}

.projects-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  border: var(--terciary-color) 1px solid;
  font-family: 'Times New Roman', Times, serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: var(--terciary-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  color: var(--secondary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  color: var(--senary-color);
  margin: 0.5rem 0;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 0.5rem;
  object-fit: cover;
  display: block;
  
}

.tech {
  font-style: italic;
  color: var(--secondary-color);
  margin: 0.5rem 0;
}

.buttons a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.4rem 1rem;
  background: var(--senary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 0.5rem;
}

.buttons a:hover {
  background: #e8392d;
}